.layout{
  display: block;
  position: relative;
  background: #fff;
}

.content{
    position: relative;
    display: contents;
    color: #FFFFFF;
    top: 18%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}